{% extends "base.html" %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h5 class="mb-0">
            {% if object %}Редактирование{% else %}Создание{% endif %} записи справочника
        </h5>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'cash_flow:directories' %}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}